
:root .cog-cognito {
  /*COLOURS*/
  --c-teal: #00b8a9;
  --c-dark-blue: #03036d;
  --c-light-blue: #5360f2;
  --c-pink: #ffc3d0;
  --c-white: #ffffff;
  --c-mint: #46ebcd;

   /*FORM STYLES*/
   --form__margins:0;
   margin-left:var(--form__margins);
   --form__width: 1400px;

   /*FONTS*/
    --default-fonts: 'Montserrat', sans-serif;
    --font-family: var(--default-fonts);
    --header__font-family: var(--default-fonts);
    --heading__font-family: var(--default-fonts);
    --label__font-family: var(--default-fonts);
    --button-primary__font-family: var(--default-fonts);
    --button-secondary__font-family: var(--default-fonts);

    /*FONT SIZES*/
    --font-size: var(--default-font-size);
  --default-font-size: 1.1em;
    --h2__font-size: 1.5em;

    /*FONT WEIGHTS*/
    --a__font-weight: bold;
    --heading__font-weight: 400;
    --highlight-reverse: #000000;

    /*FONT COLORS*/
    --a__color: var(--c-light-blue);
    --heading__color: var(--c-dark-blue);
    --label__color:  var(--c-dark-blue);
    --highlight: var(--c-light-blue);
    --highlight-reverse: var(--c-White);


    /*BUTTONS*/
    --button-primary__background-color: var(--c-mint);
    --button-primary__border-color: var(--c-mint);
    --button-primary__color: var(--c-dark-blue);
    --button-secondary__background-color: var(--c-mint);
    --button-secondary__border-color: var(--c-mint);
    --button-secondary__color: var(--c-dark-blue);
}
:root .cog-cognito--styled .cog-button--primary:hover, .cog-button--secondary:hover  {
  background-color: var(--c-pink);
  border-color: var(--c-pink);
}
:root .cog-cognito h1{
  font-weight:700!important;
  font-size:var(--h2__font-size)!important;
}
:root .cog-cognito h2{
  font-weight:500!important;
}
