:root .cog-cognito {
  /*COLOURS*/
  --c-seafoam: #00b8a9;
  --c-cobalt: #03036d;
  --c-oxford: #0f1757;
  --c-charcoal: #303030;
  --c-periwinkle: #5360f2;
  --c-blush: #ffc3d0;
  --c-white: #ffffff;
  --c-mint: #46ebcd;

   /*FORM STYLES*/
   --form__margins:0;
   margin-left:var(--form__margins);
   --form__width: 1400px;

   /*FONTS*/
    --default-fonts: 'Montserrat', sans-serif;
    --font-family: var(--default-fonts);
    --header__font-family: var(--default-fonts);
    --heading__font-family: var(--default-fonts);
    --label__font-family: var(--default-fonts);
    --button-primary__font-family: var(--default-fonts);
    --button-secondary__font-family: var(--default-fonts);
  
      /*FONT SIZES*/
    --font-size: var(--default-font-size);
    --default-font-size: 1.1em;
    --h2__font-size: 1.5em;

    /*FONT WEIGHTS*/
    --a__font-weight: bold;
    --heading__font-weight: 400;
    --highlight-reverse: #000000;

    /*FONT COLORS*/
    --a__color: var(--c-periwinkle);
    --heading__color: var(--c-cobalt);
    --label__color:  var(--c-cobalt);
    --highlight: var(--c-periwinkle);
    --highlight-reverse: var(--c-White);


    /*BUTTONS*/
    --button-primary__background-color: var(--c-mint);
    --button-primary__border-color: var(--c-mint);
    --button-primary__color: var(--c-cobalt);
    --button-secondary__background-color: var(--c-mint);
    --button-secondary__border-color: var(--c-mint);
    --button-secondary__color: var(--c-cobalt);
}
:root .cog-cognito .cog-button {
  font-weight: bold!important;
}
:root .cog-cognito .cog-button:hover {
  background-color: var(--c-blush)!important;
  border-color: var(--c-blush)!important;
}
:root .cog-cognito h1{
  font-weight:700!important;
  font-size:var(--h2__font-size)!important;
}
:root .cog-cognito h2{
  font-weight:500!important;
  color: var(--c-periwinkle)!important;
}
:root .cog-cognito h3{
  color: var(--c-seafoam)!important;
}
:root .cog-cognito .cog-cognito--styled h4{
     font-size: var(--label__font-size)!important;
}


:root .cog-cognito .cog-section__heading {
  font-weight: bold!important;
}
:root .cog-cognito .cog-rating-scale table thead th  {
  vertical-align: middle!important;
  padding-right: 1em!important;
  padding-left: 1em!important;
  min-width:120px!important;
}
:root .cog-checkable .el-checkbox {
  padding-left: 0!important;
}
:root .cog-checkable .el-checkbox__label {
   padding-left: calc(var(--font-size) + var(--checkable__scale) * var(--font-size))!important;
}
